.monaco-shell 
{
  font-family: "D-DIN", "Inconsolata", monospace;
}

.monaco-editor .margin 
{
    background-color: #1a1b1f;
}

.monaco-workbench>.part.activitybar 
{
    background-color: #141414 !important;
}